
.title {
  color: white;
  font-family: fantasy;
  font-size: 70px;
  text-align: center;
}
body {
  background-color: #1F2833;
}

* {
  box-sizing: border-box;
}

/* flickity cell container */
.carousel {
  background: #eee;
  height: 400px;
}
img {
  width: 66%;
  height: 400px;
}
/* flickity cells*/
.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 0px;
}
.flickity-page-dots {
  bottom: 0px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

.navigation-bar {
  background-color: rgb(175, 134, 31);
  padding: 10px 0;
}
.nav-link:hover{
  transform: scale(1.1);
}
/* arrow photo */
.arrow{
  height: 10%;
  width: 12%;
}

.svg{
  height: 5px;
  width: 5px;
}